<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>za.ac.cput.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>za.ac.cput.servlets.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>za.ac.cput.servlets.Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDelete</servlet-name>
        <servlet-class>za.ac.cput.servlets.CourseDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseEdit</servlet-name>
        <servlet-class>za.ac.cput.servlets.CourseEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseEdited</servlet-name>
        <servlet-class>za.ac.cput.servlets.CourseEdited</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBatch</servlet-name>
        <servlet-class>za.ac.cput.servlets.AddBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Batch</servlet-name>
        <servlet-class>za.ac.cput.servlets.Batch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchDelete</servlet-name>
        <servlet-class>za.ac.cput.servlets.BatchDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>za.ac.cput.servlets.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>za.ac.cput.servlets.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDelete</servlet-name>
        <servlet-class>za.ac.cput.servlets.StudentDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDelete</servlet-name>
        <url-pattern>/CourseDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseEdit</servlet-name>
        <url-pattern>/CourseEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseEdited</servlet-name>
        <url-pattern>/CourseEdited</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBatch</servlet-name>
        <url-pattern>/AddBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batch</servlet-name>
        <url-pattern>/Batch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchDelete</servlet-name>
        <url-pattern>/BatchDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDelete</servlet-name>
        <url-pattern>/StudentDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
